@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url("../font/Optien.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'SDSamliphopangche_Outline';
  font-size: 64pt;
}

h2 {
  font-size: 18pt;
}

body {
  margin: 0;
  text-align: center;
  overflow: scroll;
  white-space: pre-line;
}

.full {
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  white-space: pre-line;
}

.tittle-div {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: pre-line;
    background-color: #fce1de;
}

.footer-div {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: pre-line;
    background-color: #fce1de;
}

.rounded-table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: scroll;
}

.rounded-table th,
.rounded-table td {
  padding: 10px;
}

.rounded-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.rounded-table tr {
  background-color: #fff;
}

.rounded-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
