@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SDSamliphopangche_Outline';
  src: url("../font/Optien.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  text-align: center;
}

h1 {
  font-family: 'SDSamliphopangche_Outline';
  font-size: 64pt;
}

h2 {
  font-size: 18pt;
}

.full {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}